body {
    /* min-height: 3000px; */
}

#about{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.jumbotron{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.btn {
    background-color: #e3f2fd;
}

.btn:hover {
    background-color: #cde6f8;
}