#about{
    padding-top: 3rem;
    padding-bottom: 5rem;
    padding-left: 6px;
    padding-right: 6px;
}

.jumbotron{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.btn {
    background-color: #e3f2fd;
}

.btn:hover {
    background-color: #cde6f8;
}

#journey {
    padding-bottom: 1rem;
}